<%- include("template/header",{titulo:'Mental Analytica',estilo:'./css/estiloIndex.css'})%>
<%- include("template/navbar",{link:'/registrar',texto:'Registrar'})%>
<div class="container ml-5 w-25" id="texto">
    <h1 class="text-center mt-5 font-italic">TAG</h1>
    <p class="text-justify mt-3 shadow p-3 overflow-auto">Ansiedad constante y aguda que interfiere en las actividades cotidianas.
        El trastorno de ansiedad generalizada puede ocurrir a cualquier edad.Presenta síntomas similares a los del trastorno de pánico, el trastorno obsesivo compulsivo y otros tipos de ansiedad. Los síntomas incluyen preocupación constante, inquietud y problemas para concentrarse.
        El tratamiento puede incluir psicoterapia y medicamentos, como antidepresivos.</p>
</div>
<%- include("template/footer")%>