<%- include("template/header",{titulo:'Mental Analytica',estilo:'/css/estiloBotones.css'})%>
<%- include("template/navbar",{link:'/perfil',texto})%>
    <a href="#" class="button">Estadísticas</a>
    <a href="#" class="button green" class="green">Hacer Cuestionario</a>
    <a href="/psicologo" class="button">Psicólogo</a>
<%- include("template/footer")%>