<%- include("template/header",{titulo:'Mental Analytica',estilo:'/css/estiloBotones.css'})%>
<%- include("template/navbar",{link:'/perfil',texto})%>
    <a href="#" class="button shadow">Estadísticas</a>
    <a href="/pendientes" class="button green shadow" class="green">Asignar Cuestionarios</a>
    <a href="/pacientes" class="button shadow">Pacientes</a>
<%- include("template/footer")%>