<%- include("template/header",{titulo:'Mental Analytica',estilo:'/css/estiloBotones.css'})%>
<%- include("template/navbar",{link:'/perfil',texto})%>
    <a href="#" class="button shadow">Estadísticas</a>
    <a href="/hacerCuestionario" class="button green shadow" class="green">Hacer Cuestionario</a>
    <a href="/psicologo" class="button shadow">Psicólogo</a>
<%- include("template/footer")%>