<%- include("template/header",{titulo:'Mental Analytica',estilo:'./css/estiloIndex.css'})%>
<%- include("template/navbar",{link:'/inicioPaciente',texto:'Regresar'})%>
<div class="container ml-5 w-25" id="texto">
    <h1 class="text-center mt-5 font-italic">No tienes cuestionarios pendientes</h1>
    <p class="text-justify mt-3 shadow p-3 overflow-auto">.</p>
</div>
<%- include("template/footer")%>