<nav class="navbar navbar-expand-md navbar-light bg-info fixed-top shadow">
    <div class="container"> 
        <a class="navbar-brand" href="/"><img src="/img/Logo2.png" id="logo" style="width:50px;filter:invert();"></a>
        <a class="navbar-brand text-light mx-auto font-weight-bold" href="/">Mental Analytica</a>
        <a class="nav-link text-light" href=<%=link%>><%=texto%></a></li>
    </div>
</nav> 